//colors
$c-fuscous-gray: #555;
$c-suva-gray: #888;
$c-black-haze: #f7f7f7;
$white: #fff;
$white-50: rgba(255, 255, 255, 0.5);
$c-tuatara: #343434;
$c-cape-cod: #3f3f3f;
$c-rio-grande: #b8cd06;
$gallery: #efefef;

%cates-extend-1 {
  background: $c-rio-grande;
  border-color: $white-50;
  color: $white;
}

.categories-menu {
  position: relative;
  z-index: 1;

  ul {
    clear: both;
    display: none;

    @media (min-width: 992px) {
      display: block !important;
      left: -1000%;
      opacity: 0;
      position: absolute;
      top: 0;
      transform: perspective(1000px) rotateY(45deg);
      transform-origin: 0 50%;
      transition: transform 0.3s, opacity 0.3s, left 0s 0.3s;
      width: 100%;
    }
  }

  li {
    position: relative;

    &::after {
      clear: both;
      content: '';
      display: block;
    }

    a {
      backface-visibility: hidden;
      background: $white;
      border-bottom: 1px $c-black-haze solid;
      color: $c-suva-gray;
      display: block;
      float: left;
      font-family: Raleway, sans-serif;
      font-size: 11px;
      font-weight: 700;
      line-height: 16px;
      padding: 15px 46px 15px 20px;
      text-transform: uppercase;
      transition: all 0.15s;
      width: 100%;

      &:hover {
        @extend %cates-extend-1;

        + .toggle {
          background-image: $icon-13;
        }
      }
    }

    ul {
      li {
        a {
          @media (max-width: 991px) {
            background: $c-fuscous-gray;
            padding-left: 40px;
          }
        }
      }
      a {
        background: $c-tuatara;
        border-color: $c-cape-cod;
        color: $white-50;

        &:hover {
          @extend %cates-extend-1;

          + .toggle {
            background-image: $icon-13;
          }
        }
      }
    }
  }

  .toggle {
    background: $icon-12 center center no-repeat;
    cursor: pointer;
    float: left;
    height: 46px;
    margin-left: -46px;
    position: relative;
    width: 46px;
  }

  &.transparent > li > a {
    background: transparent;
    border-color: $gallery;
    padding-left: 0;

    &:hover {
      color: $c-rio-grande;

      + .toggle {
        background-image: $icon-18;
      }
    }

    + .toggle {
      background-position: right 10px center;
    }
  }
}

@media (min-width: 992px) {
  .categories-menu {
    &.alignleft {
      ul {
        display: block !important;
        left: auto;
        opacity: 0;
        right: 1000%;
        top: 0;
        transform: perspective(1000px) rotateY(45deg);
        transform-origin: 100% 50%;
        transition: transform 0.3s, opacity 0.3s, right 0s 0.3s;
        width: 100%;
      }

      li {
        &:hover {
          > ul {
            left: auto;
            opacity: 1;
            right: 100%;
            transform: perspective(1000px) rotateY(0deg);
            transition: transform 0.3s, opacity 0.3s, right 0s;
          }
        }
      }
    }

    li {
      &:hover {
        > ul {
          left: 100%;
          opacity: 1;
          transform: perspective(1000px) rotateY(0deg);
          transition: transform 0.3s, opacity 0.3s, left 0s;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .categories-menu {
    .toggle {
      transform: rotate(90deg);

      &.active {
        transform: rotate(270deg);
      }
    }
  }
}
