//urls

#content-block {
  left: 0;
  overflow: hidden;
  position: relative;
}

.container {
  max-width: 100%;
  position: relative;
}

.container-fluid {
  position: relative;
}

.content-margins {
  border-left: 50px transparent solid;
  border-right: 50px transparent solid;
  position: relative;

  &.grey {
    border-color: $c-black-haze;
  }
}

@media (max-width: 991px) {
  .content-margins {
    border-width: 0 15px;
  }

  .cell-view {
    &.page-height {
      height: 500px !important;
    }

    &.simple-banner-height {
      height: auto;

      &.big {
        height: auto;
      }

      &.middle {
        height: auto;
      }
    }
  }

  .h1 {
    font-size: 46px;
    line-height: 46px;
  }

  .swiper-container {
    &.page-height {
      height: 500px !important;
    }
  }

  .simple-article {
    h1 {
      font-size: 46px;
      line-height: 46px;
    }
  }

  .buttons-wrapper {
    .simple-article {
      display: block;
    }
  }
}

.overflow-hidden {
  overflow: hidden;
}

.page-height {
  min-height: 500px;
}

body {
  &.mobile {
    .fixed-background {
      background-attachment: scroll;
    }

    .swiper-container {
      &.page-height {
        height: auto !important;

        .swiper-wrapper {
          height: auto !important;
          transform: none !important;
        }

        .swiper-slide {
          height: auto !important;
        }

        .swiper-pagination {
          display: none;
        }
      }
    }
  }

  ::selection,
  ::-moz-selection {
    background: $c-tuatara;
    color: $c-rio-grande;
  }
}

.grey-background {
  background: $c-black-haze;
}

@media (min-width: 992px) {
  .visible-rd {
    display: none !important;
  }

  .row {
    &.vertical-aligned-columns {
      font-size: 0;
      white-space: nowrap;

      > div[class*='col'] {
        display: inline-block;
        float: none;
        vertical-align: middle;
        white-space: normal;
      }
    }
  }
}

.image-thumbnail {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
}

.table-view {
  display: table;
  height: 100%;
  width: 100%;
}

.row-view {
  display: table-row;
}

.cell-view {
  display: table-cell;
  vertical-align: middle;
  width: 10000px;

  &.page-height {
    position: relative;
    z-index: 1;
  }

  &.simple-banner-height {
    height: 600px;

    &.middle {
      height: 700px;
    }

    &.big {
      height: 800px;
    }
  }
}

@media (max-width: 767px) {
  .simple-article {
    h1 {
      font-size: 34px;
      line-height: 40px;
    }

    h2 {
      font-size: 34px;
      line-height: 40px;
    }
  }

  .h1 {
    font-size: 34px;
    line-height: 40px;
  }

  .h2 {
    font-size: 34px;
    line-height: 40px;
  }

  .button {
    display: block;

    &.mobile-icon {
      .text {
        display: none;
      }

      .icon {
        display: block;
        height: auto;
        left: auto;
        line-height: inherit;
        margin: 0;
        position: relative;
        top: auto;
        width: auto;
      }

      &.size-1 {
        height: 40px;
        line-height: 40px;
        width: 40px;
      }

      &.size-2 {
        height: 50px;
        line-height: 50px;
        width: 50px;
      }
    }
  }

  .page-height {
    &.cell-view,
    &.swiper-container {
      height: auto !important;
    }

    &.swiper-container {
      .swiper-wrapper {
        height: auto !important;
        transform: none !important;
      }

      .swiper-slide {
        height: auto !important;
      }

      .swiper-pagination {
        display: none;
      }
    }
  }

  .buttons-wrapper {
    .button {
      margin-right: 0;
    }
  }

  .follow,
  .tags {
    .title {
      display: block;
      line-height: 18px;
      margin: 0 0 10px;
    }
  }
}

.nopadding {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;

  > *[class*='col'] {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.line-through {
  display: inline-block;
  padding: 0 5px;
  position: relative;

  &::after {
    background: currentColor;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
  }
}

.valign-middle {
  align-items: center;
  display: flex;
}

.valign-middle-content {
  position: relative;
  width: 100%;
}

.full-size {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.fixed-background {
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
}

.align-inline {
  display: inline-block;
  vertical-align: middle;

  &.spacing-1 {
    margin-bottom: 10px;
    margin-right: 20px;
  }
}

.block {
  display: block;
}

.rounded-image {
  border-radius: 10px;
}

.block-image {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
}

.uppercase {
  text-transform: uppercase;
}

.row-background {
  bottom: 0;
  height: 100%;
  position: absolute;
  width: 50%;

  &.big {
    height: 112%;
  }

  img {
    bottom: 0;
    left: 50%;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    transform: translateX(-50%) !important;
  }

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }
}

.block-entry {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.notransition {
  transition: none !important;

  * {
    transition: none !important;
  }
}

.simple-mouseover {
  display: block;
  overflow: hidden;
  position: relative;

  * {
    position: relative;
  }

  &::after {
    background: $c-rio-grande-80;
    border-radius: inherit;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 0.3s;
    width: 100%;
  }

  &::before {
    background: $c-rio-grande-80;
    background-image: $icon-11 center center no-repeat;
    border-radius: inherit;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transform: rotate(180deg);
    transition: all 0.3s;
    width: 100%;
    z-index: 1;
  }

  &:hover {
    &::after {
      opacity: 1;
    }

    &::before {
      opacity: 1;
      transform: rotate(0);
    }
  }

  img {
    display: block;
    height: auto;
    max-width: 100%;
  }
}

#loader-wrapper {
  background: $white;
  bottom: -100px;
  left: 0;
  position: fixed;
  right: 0;
  top: -100px;
  z-index: 12;
}

.simple-article {
  color: $c-suva-gray;

  &.grey {
    color: $c-fuscous-gray;
  }

  &.dark {
    color: $c-tuatara;
  }

  &.light {
    color: $white;
    text-shadow: 1px 1px 1px $black-10;

    &.transparent {
      color: $white-80;
    }

    &.fulltransparent {
      color: $white-50;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
      color: $white;
      text-shadow: 1px 1px 1px $black-10;
    }

    ul {
      li {
        &::before {
          background-image: $icon-21;
        }
      }
    }
  }

  &.color {
    color: $c-rio-grande;
  }

  &.size-1 {
    font-size: 11px;
    line-height: 18px;
  }

  &.size-2 {
    font-size: 13px;
    line-height: 20px;
  }

  &.size-3 {
    font-size: 14px;
    line-height: 22px;
  }

  &.size-4 {
    font-size: 16px;
    line-height: 24px;
  }

  &.size-5 {
    font-size: 18px;
    line-height: 24px;
  }

  p {
    margin-bottom: 22px;
  }

  ul {
    margin-bottom: 22px;

    li {
      padding-bottom: 4px;
      padding-top: 4px;
      position: relative;

      &::before {
        background: $icon-20;
        content: '';
        display: inline-block;
        height: 13px;
        margin-right: 12px;
        position: relative;
        vertical-align: middle;
        width: 17px;
      }
    }
  }

  ol {
    counter-reset: number;
    margin-bottom: 22px;

    li {
      margin-bottom: 8px;
      padding-left: 0;

      &::before {
        color: $c-rio-grande;
        content: '#' counter(number);
        counter-increment: number;
        margin-right: 5px;
      }
    }
  }

  img {
    display: inline-block;
    height: auto;
    margin-bottom: 22px;
    max-width: 100%;
    vertical-align: bottom;
  }

  *[class*='col'] {
    margin-bottom: 22px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $c-tuatara;
    font-family: Raleway, sans-serif;
    font-weight: 900;
    margin-bottom: 22px;
    text-transform: uppercase;

    a {
      transition: all 0.15s;

      &:hover {
        color: $c-rio-grande;
      }
    }
  }

  h1 {
    font-size: 70px;
    line-height: 70px;
  }

  h2 {
    font-size: 40px;
    line-height: 46px;
  }

  h3 {
    font-size: 30px;
    line-height: 34px;
  }

  h4 {
    font-size: 18px;
    line-height: 24px;
  }

  h5 {
    font-size: 16px;
    line-height: 22px;
  }

  h6 {
    font-size: 13px;
    line-height: 18px;
  }

  .embed-responsive {
    margin-bottom: 22px;
  }

  .swiper-container {
    margin-bottom: 22px;
  }

  br {
    line-height: 1em;
  }

  *:last-child {
    margin-bottom: 0;
  }

  a {
    &:not(.button) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.grey {
  color: $c-fuscous-gray;
}

.dark {
  color: $c-tuatara;
}

.light {
  &.transparent {
    color: $white-80;
  }

  &.fulltransparent {
    color: $white-50;
  }
}

.color {
  color: $c-rio-grande;
}

.blog-article {
  img {
    display: block;
    margin-bottom: 1em;
  }

  p {
    margin-bottom: 1em;
  }

  ul {
    margin-bottom: 1em;
  }

  ol {
    margin-bottom: 1em;
  }

  *[class*='col'] {
    margin-bottom: 1em;
  }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: $c-tuatara;
  font-family: Raleway, sans-serif;
  font-weight: 900;
  text-transform: uppercase;

  &.light {
    color: $white;
    text-shadow: 1px 1px 1px $black-10;
  }

  a {
    transition: all 0.15s;

    &:hover {
      color: $c-rio-grande;
    }
  }
}

.h1 {
  font-size: 70px;
  line-height: 70px;
}

.h2 {
  font-size: 40px;
  line-height: 46px;
}

.h3 {
  font-size: 30px;
  line-height: 34px;
}

.h4 {
  font-size: 18px;
  line-height: 24px;
}

.h5 {
  font-size: 16px;
  line-height: 22px;
}

.h6 {
  font-size: 13px;
  line-height: 18px;
}

.title-underline {
  color: $c-fuego;
  height: 21px;
  padding: 20px 0;

  &.light {
    color: $white;
  }

  span {
    background: currentColor;
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: top;
    width: 55px;

    &::before {
      background: inherit;
      content: '';
      height: 1px;
      left: -9px;
      position: absolute;
      top: 0;
      width: 4px;
    }

    &::after {
      background: inherit;
      content: '';
      height: 1px;
      left: auto;
      position: absolute;
      right: -9px;
      top: 0;
      width: 4px;
    }
  }

  &.left {
    margin-left: 9px;

    span {
      &::after {
        display: none;
      }
    }
  }

  &.right {
    margin-right: 9px;

    span {
      &::before {
        display: none;
      }
    }
  }
}

@media (max-width: 1199px) {
  .h1 {
    font-size: 46px;
    line-height: 46px;
  }

  .simple-article {
    h1 {
      font-size: 46px;
      line-height: 46px;
    }
  }
}

.button {
  box-shadow: 1px 1px 2px $black-10;
  cursor: pointer;
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  vertical-align: bottom;

  &.noshadow {
    border: 1px $c-gallery solid;
    box-shadow: none;
  }

  &.block {
    display: block;
  }

  input {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  span {
    display: block;
    left: 0;
    position: relative;

    &.icon,
    &.text {
      transition: all 0.15s;
    }
  }

  &.size-1 {
    border-radius: 20px;
    font-size: 11px;
    line-height: 18px;

    .text {
      padding: 12px 20px 10px;
    }
  }

  &.size-2 {
    border-radius: 25px;
    font-size: 11px;
    line-height: 18px;

    .text {
      padding: 17px 30px 15px;
    }
  }

  &.style-1 {
    background: $white;
    color: $c-fuscous-gray;
  }

  &.style-2 {
    background: $c-tuatara;
    color: $white;
  }

  &.style-3 {
    background: $c-rio-grande;
    color: $white;

    .icon {
      color: $white;
    }
  }

  &.style-4 {
    color: $white;

    .icon {
      color: $white;
    }
  }

  &.style-5 {
    border: 1px $c-gallery solid;
    box-shadow: none;
    color: $c-suva-gray;

    .icon {
      color: $c-suva-gray;
    }
  }

  &.facebook-button {
    background: $c-azure;
  }

  &.twitter-button {
    background: $c-shakespeare;
  }

  &.google-button {
    background: $c-valencia;
  }

  &::before {
    background: inherit;
    border-radius: inherit;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &:hover {
    &::before {
      opacity: 0;
      transform: scale(1.5);
      transition: transform 0.5s, opacity 0.5s, visibility 0s 0.5s;
      visibility: hidden;
    }

    .icon {
      left: 50%;
    }

    .text {
      left: 100%;
    }
  }

  .icon {
    color: $c-rio-grande;
    font-size: 20px;
    height: 30px;
    left: -50px;
    line-height: 30px;
    margin-left: -15px;
    margin-top: -15px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 30px;

    img {
      display: block;
      height: auto;
      max-width: 30px;
    }

    .fa {
      display: block;
      line-height: inherit;
    }
  }
}

.button-wrapper {
  border-radius: inherit;
  display: block;
  overflow: hidden;
  position: relative;
}

.button-close {
  background: $icon-5 50% 50% no-repeat;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  position: relative;
  vertical-align: middle;
  width: 40px;

  &::before {
    background: $black;
    border-radius: 50%;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0.5;
    pointer-events: none;
    position: absolute;
    top: 0;
    transform: scale(0);
    width: 100%;
  }

  &:hover {
    &::before {
      opacity: 0;
      transform: scale(1.5);
      transition: transform 0.5s, opacity 0.5s, visibility 0s 0.5s;
    }
  }
}

.buttons-wrapper {
  font-size: 0;
  margin: 0 -5px;

  .button {
    margin: 0 5px 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  &::after {
    content: '';
    display: block;
    margin-top: -10px;
  }

  .simple-article {
    display: inline-block;
    line-height: 24px;
    margin: 13px 30px 10px 0;
    vertical-align: top;
  }
}

.play-button {
  background: $c-rio-grande;
  border-radius: 50px;
  height: 50px;
  left: 50%;
  margin: -25px 0 0 -25px;
  position: absolute;
  top: 50%;
  width: 50px;

  &::before {
    background: $c-rio-grande-30;
    border-radius: inherit;
    bottom: -5px;
    content: '';
    left: -5px;
    position: absolute;
    right: -5px;
    top: -5px;
    transition: all 0.3s;
  }

  &::after {
    border-color: transparent transparent transparent $white;
    border-style: solid;
    border-width: 6.5px 0 6.5px 9px;
    content: '';
    height: 0;
    left: 50%;
    margin: -6.5px 0 0 -3px;
    position: absolute;
    top: 50%;
    width: 0;
  }

  &:hover {
    &::before {
      transform: scale(0.9);
    }
  }
}

.simple-input {
  background: $white;
  border: 1px $c-gallery solid;
  border-radius: 26px;
  color: $c-fuscous-gray;
  font-size: 14px;
  height: 50px;
  line-height: 48px;
  padding: 0 30px;
  transition: all 0.15s;
  width: 100%;

  &.small {
    font-size: 11px;
    height: 40px;
    line-height: 38px;
    padding: 0 18px;
  }

  &.style-1 {
    border-left: 0;
    border-radius: 0;
    border-right: 0;
    border-top: 0;
    padding-left: 0;
  }

  &:focus {
    border-color: $c-rio-grande;
  }

  &.invalid {
    border-color: $c-valencia !important;
  }

  &.light {
    background: transparent;
    border-color: $white-50;
    color: $white;

    &:focus {
      border-color: $white;
    }
  }
}

.SumoSelect {
  &.open {
    > .CaptionCont {
      border-color: $c-rio-grande;
    }

    select.light + .CaptionCont {
      border-color: $white;
    }
  }

  > .CaptionCont {
    border: 1px $c-gallery solid;
    border-radius: 26px;
    color: $c-fuscous-gray;
    font-size: 14px;
    height: 50px;
    line-height: 48px;
    padding: 0 30px;
    transition: all 0.15s;
    width: 100%;

    > span {
      &.placeholder {
        color: $c-suva-gray;
      }
    }
  }

  > select.small + .CaptionCont {
    font-size: 10px;
    padding: 0 15px;
    text-transform: uppercase;

    > label {
      width: 40px;
    }

    > span {
      padding-right: 20px;
    }
  }

  select.light + .CaptionCont > span.placeholder {
    color: $white-80;
  }
}

input,
textarea {
  &::-webkit-input-placeholder {
    color: $c-suva-gray;
    opacity: 1;
  }
}

input {
  &:-moz-placeholder,
  &:-ms-input-placeholder {
    color: $c-suva-gray;
    opacity: 1;
  }

  &.light::-webkit-input-placeholder {
    color: $white-80;
    opacity: 1;
  }

  &.light {
    &:-moz-placeholder {
      color: $white-80;
      opacity: 1;
    }

    &:-ms-input-placeholder {
      color: $white-80;
      opacity: 1;
    }
  }

  &.light::-moz-placeholder {
    color: $white-80;
    opacity: 1;
  }
}

textarea {
  &:-moz-placeholder,
  &:-ms-input-placeholder {
    color: $c-suva-gray;
    opacity: 1;
  }

  &.simple-input {
    height: 140px;
    line-height: 22px;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  &.light {
    &:-moz-placeholder,
    &::-webkit-input-placeholder,
    &:-ms-input-placeholder {
      color: $white-80;
      opacity: 1;
    }
  }
}

input,
textarea {
  &::-moz-placeholder {
    color: $c-suva-gray;
    opacity: 1;
  }
}

.single-line-form {
  position: relative;

  .button {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.input-file-wrapper {
  position: relative;

  .simple-input {
    color: $c-suva-gray;
    padding-right: 50px;

    &.light {
      color: $white-80;
    }
  }

  &.active {
    .simple-input {
      color: $c-fuscous-gray;

      &.light {
        color: $white;
      }
    }

    .file-remove {
      display: block;
    }
  }

  .file-remove {
    background: $icon-5 center center;
    cursor: pointer;
    display: none;
    height: 50px;
    opacity: 0.5;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    z-index: 1;

    &.light {
      background-image: $icon-19;
    }

    &:hover {
      opacity: 1;
    }
  }
}

form {
  position: relative;
}

.submit-icon {
  color: $c-suva-gray;
  cursor: pointer;
  height: 100%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  transition: all 0.3s;
  width: 50px;

  &:hover {
    color: $c-tuatara;
  }

  .fa {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.checkbox-entry {
  cursor: pointer;
  display: inline-block;
  margin: 0;
  min-height: 20px;
  min-width: 20px;
  padding: 0;

  input {
    display: none;

    &:checked + span:before {
      background-color: $c-rio-grande;
      background-position: center center;
      border-color: $c-rio-grande;
    }
  }

  span {
    color: $c-suva-gray;
    display: block;
    font-size: 11px;
    line-height: 20px;
    padding-left: 30px;
    position: relative;
    text-transform: uppercase;

    &::before {
      background: $icon-6 100px center no-repeat $white;
      border: 1px $c-gallery solid;
      border-radius: 2px;
      content: '';
      height: 20px;
      left: 0;
      position: absolute;
      top: 0;
      width: 20px;
    }
  }

  &.radio {
    span {
      &::before {
        background: none;
        border-radius: 10px;
      }
    }

    input:checked + span:before {
      background-color: $white;
      border-color: $c-rio-grande;
      border-width: 7px;
    }
  }

  &.light {
    span {
      color: $white-80;
    }

    &:hover {
      span {
        color: $white;
      }
    }

    &.radio input:checked + span:after {
      border-radius: 10px;
      border: 2px $c-gallery solid;
      content: '';
      height: 20px;
      left: 0;
      position: absolute;
      top: 0;
      width: 20px;
    }
  }

  &:hover {
    span {
      color: $c-fuscous-gray;
    }
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }

  &.checkbox-toggle-title {
    span {
      color: $c-tuatara;
      font-family: Raleway, sans-serif;
      font-size: 18px;
      font-weight: 900;
      text-transform: uppercase;
    }
  }
}

.checkbox-toggle-wrapper {
  display: none;
}

.ClassyCountdown-wrapper {
  margin: 0 -5px;

  > div {
    display: inline-block;
    padding: 0 5px;
    position: relative;
    width: 25%;
  }

  .ClassyCountdown-value {
    display: block;
    left: 0;
    line-height: 1em;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;

    span {
      display: block;
    }
  }
}

.countdown {
  &.max-width {
    max-width: 400px;
  }

  &.light,
  &.light-green {
    .ClassyCountdown-wrapper {
      .ClassyCountdown-value {
        span {
          color: $white-80 !important;
        }
      }
    }
  }
}

.follow {
  font-size: 0;
  margin-bottom: -7px;

  .title {
    color: $white;
    display: inline-block;
    font-family: Raleway, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 35px;
    margin-right: 20px;
    text-transform: uppercase;
    vertical-align: top;
  }

  &.light {
    .title {
      color: $c-tuatara;
    }

    .entry {
      background: $c-black-haze;
    }
  }

  .entry {
    background: $c-cape-cod;
    border-radius: 50%;
    color: $c-suva-gray;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    margin: 0 7px 7px;
    position: relative;
    text-align: center;
    transition: all 0.15s;
    vertical-align: bottom;
    width: 35px;

    &:hover {
      color: $white;

      &::before {
        transform: scale(1);
      }
    }

    .fa {
      display: block;
      line-height: inherit;
      position: relative;
    }

    &::before {
      background: $c-rio-grande;
      border-radius: 50%;
      bottom: -1px;
      content: '';
      left: -1px;
      position: absolute;
      right: -1px;
      top: -1px;
      transform: scale(0);
      transition: all 0.15s;
    }
  }
}

.tags {
  .title {
    color: $white;
    display: inline-block;
    font-family: Raleway, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 35px;
    margin-right: 20px;
    text-transform: uppercase;
    vertical-align: top;
  }

  &.light {
    .title {
      color: $c-tuatara;
    }
  }
}

html {
  &.overflow-hidden {
    body {
      overflow: hidden;
    }
  }
}

.clearfix {
  &::after {
    clear: both;
    content: '';
    display: block;
  }
}

.SlectBox.small + .CaptionCont {
  border-radius: 21px;
  height: 42px;
  line-height: 40px;
}

select.light + .CaptionCont {
  background: transparent;
  border-color: $white-50;
  color: $white;

  input::-webkit-input-placeholder {
    color: $white-80;
    opacity: 1;
  }

  input {
    &:-moz-placeholder,
    &:-ms-input-placeholder,
    &:-moz-placeholder {
      color: $white-80;
      opacity: 1;
    }
  }
}
