//colors
$c-tuatara: #343434;
$c-rio-grande: #b8cd06;
$black-10: rgba(0, 0, 0, 0.1);
$white: #fff;
$c-suva-gray: #888;
$black-40: rgba(0, 0, 0, 0.4);
$black-70: rgba(0, 0, 0, 0.7);
$c-gallery: #eee;
$c-fuscous-gray: #555;
$wild-sand: #f4f4f4;

header {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

@media (min-width: 992px) {
  header {
    transition: all 0.15s;

    &.scrolled {
      top: -60px;
    }
  }

  .nav-wrapper {
    display: inline-block;
    height: inherit;
    vertical-align: top;
  }

  nav {
    height: inherit;

    a {
      transition: all 0.3s;
    }

    > ul {
      height: inherit;

      > li {
        display: inline-block;
        height: inherit;
        position: relative;
        vertical-align: top;

        > a {
          border-radius: 16px;
          color: $c-tuatara;
          display: block;
          font-size: 11px;
          font-weight: 700;
          line-height: 16px;
          margin-top: -16px;
          padding: 9px 20px 7px;
          position: relative;
          text-transform: uppercase;
          top: 50%;

          &:hover {
            background-color: $c-rio-grande;
            box-shadow: 1px 1px 2px $black-10;
            color: $white;
          }
        }

        > ul {
          opacity: 0;
          transform: translateY(-100%);
          transition: all 0.3s;
        }

        &.active > a {
          background-color: $c-rio-grande;
          box-shadow: 1px 1px 2px $black-10;
          color: $white;
        }

        &:hover > ul {
          opacity: 1;
          transform: translateY(0%);
        }
      }
    }

    ul {
      ul {
        background: $white;
        border-radius: 0 0 5px 5px;
        box-shadow: 0 1px 3px $black-10;
        display: block !important;
        left: 0;
        padding: 10px 0;
        position: absolute;
        text-align: left;
        top: 100%;
        width: 165px;
        z-index: -1;

        li {
          left: 1px;
          padding: 0 20px 0 19px;
          position: relative;
        }

        a {
          color: $c-suva-gray;
          display: block;
          font-size: 10px;
          font-weight: 700;
          line-height: 16px;
          padding: 8px 0;
          text-transform: uppercase;

          &:hover {
            color: $c-rio-grande;
          }
        }

        > li {
          &.active > a {
            color: $c-rio-grande;
          }

          &:hover {
            ul {
              opacity: 1;
              transform: perspective(1000px) rotateY(0deg);
            }
          }
        }

        ul {
          border-radius: 5px;
          left: 100%;
          opacity: 0;
          top: 0;
          transform: perspective(1000px) rotateY(90deg);
          transform-origin: 0 50%;
          transition: all 0.3s;
          z-index: 0;
        }
      }
    }
  }

  .navigation-title {
    display: none;
  }

  .megamenu-wrapper {
    position: static;
  }

  .megamenu {
    background: $white;
    border-top: 5px $c-rio-grande solid;
    box-shadow: 0 5px 5px $black-10;
    display: block !important;
    height: 540px;
    margin-right: 15px;
    margin-top: -1px;
    padding: 30px;
    position: absolute;
    top: 100%;
    width: 950px;
    z-index: -1;

    .links {
      float: left;
      height: 480px;
      overflow: auto;
      width: 220px;

      a {
        color: $c-suva-gray;
        display: block;
        font-size: 10px;
        font-weight: 700;
        line-height: 16px;
        margin-bottom: 15px;
        padding: 7px 15px 7px 0;
        text-align: left;
        text-transform: uppercase;
        transition: all 0.15s;

        &:hover,
        &.active {
          color: $c-rio-grande;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .content {
      margin-left: 220px;
    }
  }

  .megamenu-banner {
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
    height: inherit;
    padding: 30px;
    position: relative;
    text-align: center;

    &::before {
      background: $black-40;
      border-radius: inherit;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}

.header-empty-space {
  height: 159px;
}

.header-top {
  background: $white;
  border-bottom: 1px $c-gallery solid;
  font-size: 0;
  height: 60px;

  a {
    transition: all 0.15s;

    .fa {
      transition: all 0.15s;
    }

    b {
      transition: all 0.15s;
    }

    &:hover {
      color: $c-rio-grande;

      .fa,
      b {
        color: $c-rio-grande;
      }
    }
  }

  b {
    color: $c-fuscous-gray;
    font-family: Raleway, sans-serif;
    font-weight: 700;
  }

  .entry {
    border-left: 1px $c-gallery solid;
    border-right: 1px $c-gallery solid;
    color: $c-suva-gray;
    display: inline-block;
    font-size: 10px;
    line-height: 20px;
    margin-left: -1px;
    padding: 20px 25px;
    position: relative;
    text-transform: uppercase;
    vertical-align: bottom;
  }

  .fa {
    color: $c-fuscous-gray;
    display: inline-block;
    font-size: 20px;
    position: relative;
    top: -1px;
    vertical-align: bottom;
  }

  .cart-title {
    color: $c-rio-grande;
    font-size: 13px;
  }

  .cart-icon {
    display: inline-block;
    padding: 0 12px 0 3px;
    position: relative;
  }

  .language {
    cursor: pointer;

    .title {
      background: $icon-7 right center no-repeat;
      padding-right: 15px;
      text-align: left;
      width: 35px;
    }

    &:hover {
      .language-toggle {
        left: 0;
        opacity: 1;
        transform: scale(1);
        transition: transform 0.3s, opacity 0.3s, left 0s;
      }
    }
  }

  .language-toggle {
    background: $white;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 1px 3px $black-10;
    left: 10000px;
    opacity: 0;
    padding: 10px 0;
    position: absolute;
    top: 100%;
    transform: scale(0.8);
    transform-origin: 50% 0;
    transition: transform 0.3s, opacity 0.3s, left 0s 0.3s;
    width: 100%;
    z-index: 1;

    a {
      display: block;
      padding: 5px 25px;
      text-align: left;

      &:hover {
        background: $c-rio-grande;
        color: $white;
      }
    }
  }

  .cart-toggle {
    background: $white;
    border-radius: 0 0 5px 5px;
    border-top: 5px $c-rio-grande solid;
    box-shadow: 0 5px 5px $black-10;
    cursor: auto;
    margin-top: -1px;
    opacity: 0;
    padding: 30px 30px 40px;
    position: absolute;
    right: -10000px;
    text-align: left;
    top: 100%;
    transform: scale(0.8);
    transform-origin: 100% 0;
    transition: transform 0.3s, opacity 0.3s, right 0s 0.3s;
    width: 670px;
    z-index: 2;
  }

  .cart {
    cursor: pointer;

    &:hover {
      .cart-toggle {
        opacity: 1;
        right: 0;
        transform: scale(1);
        transition: transform 0.3s, opacity 0.3s, right 0s;
      }
    }
  }
}

#logo {
  display: inline-block;
  height: 60px;
  margin-top: -30px;
  position: relative;
  top: 50%;
  vertical-align: top;

  img {
    display: block;
    max-height: 100%;
    width: auto;
  }
}

.cart-label {
  background: $c-rio-grande;
  border-radius: 50%;
  box-shadow: 1px 1px 2px $black-10;
  color: $white;
  font-size: 11px;
  height: 20px;
  line-height: 20px;
  position: absolute;
  right: 2px;
  text-align: center;
  top: -10px;
  width: 20px;
}

.cart-entry {
  background: $wild-sand;
  border-radius: 5px;
  margin-bottom: 1px;
  padding: 30px;

  table {
    width: 100%;

    td {
      border-left: 1px $white solid;
      padding: 0 30px;
      vertical-align: middle;

      &:first-child {
        border: 0;
        padding-left: 0;
        text-align: left;
      }

      &:last-child {
        padding-right: 0;
      }

      &:nth-child(1) {
        width: 145px;
      }

      &:nth-child(2) {
        width: 140px;
      }

      &:nth-child(3) {
        width: 70px;
      }
    }
  }
}

.cart-color {
  display: inline-block;
  height: 12px;
  width: 12px;
}

.cart-entry-thumbnail {
  float: left;
  transition: all 0.15s;

  img {
    display: block;
  }

  &:hover {
    opacity: 0.8;
  }
}

.cart-entry-description {
  margin-left: 105px;
  padding-top: 22px;
}

.megamenu {
  border-top: 5px $c-rio-grande solid;
  opacity: 0;
  right: -10000px;
  transform: scale(0.8);
  transform-origin: 100% 0;
  transition: transform 0.3s, opacity 0.3s, right 0s 0.3s;
}

.cart-overflow {
  max-height: 460px;
  overflow: auto;
}

@media (max-width: 767px) {
  .cart-entry {
    text-align: center;
  }

  .cart-entry-thumbnail {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .cart-entry-description {
    margin-left: 0;

    table {
      display: block;

      tbody {
        display: block;
      }

      tr {
        display: block;
      }

      td {
        border: 0;
        display: block;
        padding: 0 0 10px;
        text-align: center !important;
        width: auto !important;

        &:last-child {
          padding-bottom: 0;
        }
      }
    }
  }

  .header-top {
    height: 40px;

    .entry {
      padding: 10px 15px;
    }
  }

  #logo {
    height: 40px;
    margin-top: -20px;
  }

  .header-bottom {
    height: 60px;
  }

  .header-search-content {
    padding-bottom: 15px;
  }

  .header-empty-space {
    height: 100px;
  }
}

.hamburger-icon {
  cursor: pointer;
  display: none;
  height: 40px;
  margin-top: -20px;
  position: absolute;
  right: 15px;
  top: 50%;
  width: 40px;

  span {
    background: $c-tuatara;
    border-radius: 2px;
    height: 4px;
    position: absolute;
    right: 0;
    width: 100%;

    &:nth-child(1) {
      top: 7px;
    }

    &:nth-child(2) {
      margin-top: -2px;
      top: 50%;
      width: 70%;
    }

    &:nth-child(3) {
      bottom: 7px;
      width: 90%;
    }
  }

  &.active {
    span {
      height: 2px;

      &:nth-child(1) {
        display: none;
      }

      &:nth-child(2) {
        left: 15%;
        margin-top: -1px;
        transform: rotate(-45deg);
        width: 70%;
      }

      &:nth-child(3) {
        bottom: auto;
        left: 15%;
        margin-top: -1px;
        top: 50%;
        transform: rotate(45deg);
        width: 70%;
      }
    }
  }
}

.header-bottom {
  background: $white;
  box-shadow: 0 1px 3px $black-10;
  font-size: 0;
  height: 98px;

  *[class*='col'] {
    height: inherit;
  }

  .row {
    height: inherit;
  }

  .container {
    height: inherit;
  }

  .container-fluid {
    height: inherit;
  }

  .content-margins {
    height: inherit;
  }
}

@media (max-width: 991px) {
  .hamburger-icon {
    display: block;
  }

  .nav-wrapper {
    bottom: -100px;
    left: 100%;
    position: fixed;
    text-align: left;
    top: -100px;
    transition: all 0s 0.3s;
    width: 100%;
    z-index: 10;

    &.active {
      left: 0;
      transition: all 0s 0s;

      .nav-close-layer {
        opacity: 1;
      }

      nav {
        transform: translateX(0%);
      }
    }
  }

  nav {
    background: $white;
    bottom: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: all 0.3s;
    width: 300px;

    li {
      position: relative;
    }

    a {
      display: block;
      position: relative;
    }

    > ul {
      bottom: 100px;
      left: 0;
      overflow: auto;
      padding: 15px;
      position: absolute;
      top: 150px;
      width: 100%;

      > li {
        margin-bottom: 10px;

        > a {
          border-radius: 19px;
          box-shadow: 1px 1px 2px $black-10;
          color: $c-tuatara;
          display: block;
          font-size: 12px;
          font-weight: 700;
          line-height: 16px;
          padding: 12px 45px 10px 20px;
          text-transform: uppercase;
        }

        &.active {
          > a {
            background-color: $c-rio-grande;
            color: $white;
          }

          > .menu-toggle {
            color: $white;
          }
        }

        > ul > li {
          > a {
            padding-right: 45px;
          }

          &.active > .menu-toggle {
            color: $c-rio-grande;
          }
        }
      }
    }

    ul {
      ul {
        display: none;
        padding-left: 30px;

        a {
          color: $c-suva-gray;
          display: block;
          font-size: 11px;
          font-weight: 700;
          line-height: 16px;
          padding: 12px 0 10px;
          text-transform: uppercase;
        }

        ul {
          a {
            font-size: 11px;
            padding: 8px 0;
            position: relative;

            &::before {
              background: currentColor;
              content: '';
              display: inline-block;
              height: 1px;
              margin-right: 10px;
              position: relative;
              top: 8px;
              vertical-align: top;
              width: 10px;
            }
          }
        }

        > li {
          &.active {
            > a {
              color: $c-rio-grande;
            }
          }
        }
      }
    }
  }

  .nav-close-layer {
    background: $black-70;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 0.3s;
    width: 100%;
  }

  .menu-toggle {
    color: $c-suva-gray;
    cursor: pointer;
    height: 39px;
    position: absolute;
    right: 5px;
    top: 0;
    width: 39px;

    &::before {
      background: currentColor;
      content: '';
      height: 1px;
      left: 10px;
      position: absolute;
      top: 19px;
      width: 19px;
    }

    &::after {
      background: currentColor;
      content: '';
      height: 19px;
      left: 19px;
      position: absolute;
      top: 10px;
      transition: all 0.3s;
      width: 1px;
    }

    &.active {
      &::after {
        height: 0;
        top: 19px;
      }
    }
  }

  .navigation-title {
    background: $white;
    border-bottom: 1px $c-gallery solid;
    color: $c-tuatara;
    display: block;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 900;
    left: 0;
    line-height: 30px;
    padding: 10px 40px 10px 20px;
    position: absolute;
    text-transform: uppercase;
    top: 100px;
    width: 100%;
  }

  .megamenu {
    border: 0;
    display: none;
    opacity: 1;
    right: auto;
    transform: none;
    transition: none;

    .content {
      display: none;
    }

    .links {
      a {
        color: $c-suva-gray;
        display: block;
        font-size: 11px;
        font-weight: 700;
        line-height: 16px;
        padding: 12px 0 10px 30px;
        text-transform: uppercase;

        &.active {
          color: $c-rio-grande;
        }
      }
    }
  }

  .header-bottom-icon {
    font-size: 27px;
    width: 50px;
  }

  .header-search-content {
    padding: 40px 0;
  }

  .header-top .entry {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.header-bottom-icon {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  margin-top: -20px;
  position: relative;
  text-align: center;
  top: 50%;
  transition: all 0.15s;
  vertical-align: top;
  width: 40px;

  &:hover {
    color: $c-rio-grande;
  }
}

.header-search-wrapper {
  position: relative;
  z-index: -1;

  .button-close {
    position: absolute;
    right: 5px;
    top: 5px;
  }

  &.active {
    .header-search-content {
      opacity: 1;
      transform: translateY(0%);
    }
  }
}

.header-search-content {
  background: $white;
  box-shadow: 0 5px 5px $black-10;
  left: 0;
  opacity: 0;
  padding: 40px 0 60px;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  transition: all 0.3s;
  width: 100%;
}

.search-submit {
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  transition: all 0.15s;
  width: 50px;

  &:hover {
    color: $c-rio-grande;
  }
}

@media (max-width: 1199px) {
  .header-top {
    .entry {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

li {
  &:hover {
    .megamenu {
      opacity: 1;
      right: 0;
      transform: scale(1);
      transition: transform 0.3s, opacity 0.3s, right 0s;
    }
  }
}
