//colors
$c-gallery: #eee;
$c-rio-grande: #b8cd06;
$white-50: rgba(255, 255, 255, 0.5);
$white: #fff;
$white-20: rgba(255, 255, 255, 0.2);

.slider-wrapper {
  position: relative;
}

.slider-product-preview {
  position: absolute;
  width: 50%;
  right: 15px;
  top: 0;
  top: 80px;
  bottom: 80px;

  > img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 100%;
    max-height: 100%;
  }

  &.align-left {
    left: 15px;
    right: auto;

    .product-preview-shortcode {
      .preview {
        right: 0;
        left: 100px;
      }

      .sidebar {
        right: auto;
        left: 0;
      }
    }
  }
}

.product-preview-shortcode {
  height: 100%;
  position: relative;

  .preview {
    position: absolute;
    left: 0;
    top: 0;
    right: 100px;
    bottom: 0;

    .entry {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      opacity: 0;
      transition: all 0.5s;

      &.active {
        opacity: 1;
      }
    }
  }

  .sidebar {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;

    .entry {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      border: 1px $c-gallery solid;
      cursor: pointer;
      margin-bottom: 20px;
      transition: all 0.3s;

      &:last-child {
        margin-bottom: 0;
      }

      img {
        display: block;
        max-width: 100%;
        height: auto;
      }

      &:hover {
        border-color: $c-rio-grande;
      }

      &.active {
        border-color: $c-rio-grande;
        background: $c-rio-grande;
      }
    }
  }

  &.light .sidebar .entry {
    background: transparent;
    border-color: $white-50;

    &:hover {
      border-color: $white;
    }

    &.active {
      border-color: $white;
      background: $white;
    }
  }

  &.light-green .sidebar .entry {
    border-color: $white-20;

    &:hover {
      border-color: $c-rio-grande;
    }

    &.active {
      border-color: $c-rio-grande;
      background: $c-rio-grande;
    }
  }
}

@media (max-width: 767px) {
  .slider-product-preview {
    position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    height: 300px;
    margin: 0 auto;
    width: auto;

    &.align-left {
      position: relative;
      left: auto;
      right: auto;
      top: auto;
      bottom: auto;
      height: 300px;
      margin: 0 auto;
      width: auto;

      .product-preview-shortcode .preview {
        right: 0;
        left: 80px;
      }
    }
  }

  .product-preview-shortcode {
    .preview {
      right: 80px;
    }

    .sidebar .entry {
      width: 50px;
      height: 50px;
    }
  }
}
