//colors
$white: #fff;
$c-rio-grande: #b8cd06;
$c-black-haze-95: rgba(247, 247, 247, 0.95);

.grid-sizer {
  width: 25%;
}

.grid {
  margin: -15px -15px 0;
  position: relative;

  @media (max-width: 767px) {
    margin: 0;
  }
}

.grid-item {
  &.w25 {
    width: 25%;

    @media (max-width: 991px) {
      width: 50%;
    }

    @media (max-width: 450px) {
      width: 100%;
    }
  }

  &.w50 {
    width: 50%;

    @media (max-width: 450px) {
      width: 100%;
    }
  }
}

.gallery-grid-item {
  cursor: pointer;
  overflow: hidden;
  position: relative;

  &::after {
    border: 15px $white solid;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  @media (max-width: 450px) {
    margin-bottom: 15px;

    &::after {
      display: none;
    }
  }

  .gallery-title {
    @media (max-width: 767px) {
      display: none;
    }
  }

  img {
    display: block;
    transition: all 0.3s;
    width: 100%;
  }

  &.style-1 {
    &:hover {
      img {
        transform: translateY(100px);
        transition: all 0.3s 0.15s;

        @media (max-width: 767px) {
          transform: none;
        }
      }

      .gallery-title {
        transform: translateY(0%);
      }
    }

    .gallery-title {
      background: $c-rio-grande;
      left: 15px;
      min-height: 100px;
      padding: 22px 30px;
      position: absolute;
      right: 15px;
      top: 15px;
      transform: translateY(-100%);
      transition: all 0.3s;
    }
  }

  &.style-2 {
    .gallery-title {
      background: $c-black-haze-95;
      bottom: 0;
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: all 0.3s 0.15s;

      .left {
        left: 45px;
        margin-top: -20px;
        opacity: 0;
        position: absolute;
        right: 45px;
        top: 50%;
        transform: translateX(-100%);
        transition: all 0.3s;
      }

      .right {
        left: 45px;
        opacity: 0;
        position: absolute;
        right: 45px;
        text-align: right;
        top: 35px;
        transform: translateX(100%);
        transition: all 0.3s;
      }
    }

    &:hover {
      .gallery-title {
        opacity: 1;
        transition: all 0.3s;

        .left,
        .right {
          opacity: 1;
          transform: translateX(0%);
          transition: all 0.3s 0.15s;
        }
      }
    }
  }
}

.gallery-grid-link {
  z-index: 1;
}

.gallery-big-preview-entry {
  background-position: center center;
  background-size: cover;
  padding-bottom: 61%;
}

@media (min-width: 1200px) {
  .gallery-popup-slider-wrapper {
    .swiper-button-prev {
      left: -100px;
    }

    .swiper-button-next {
      right: -100px;
    }
  }
}

.gallery-popup-description {
  padding: 40px 50px;

  @media (max-width: 767px) {
    padding: 30px 15px;
  }
}

.popup-content {
  .slider-wrapper {
    background: transparent;
  }
}

.gallery-small-preview-entry {
  img {
    display: block;
    height: auto;
    opacity: 0.2;
    transition: all 0.3s;
    width: 100%;
  }
}

.swiper-slide-active {
  .gallery-small-preview-entry {
    img {
      opacity: 0.5;
    }
  }
}
