//colors
$black-80: rgba(0, 0, 0, 0.8);
$white: #fff;
$black-20: rgba(0, 0, 0, 0.2);
$black: #000;
$c-fuscous-gray: #555;
$c-rio-grande: #b8cd06;
$c-gallery: #eee;
$c-suva-gray: #888;

.popup-wrapper {
  position: fixed;
  z-index: 11;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  left: -100%;
  transition-delay: 0.3s;

  &.active {
    left: 0;
    transition-delay: 0s;

    .bg-layer {
      opacity: 1;
    }
  }

  .bg-layer {
    position: absolute;
    left: 0;
    top: -100px;
    right: 0;
    bottom: -100px;
    background: $black-80;
    transition: all 0.3s ease-out;
    opacity: 0;
  }
}

.popup-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  font-size: 0;
  text-align: center;
  transition: all 0.3s ease-out;
  transform: scale(1.2);
  opacity: 0;
  visibility: hidden;
  padding: 15px;

  &.active {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }

  &::after {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    content: '';
  }

  .layer-close {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 10000px;
  }
}

.popup-container {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  position: relative;
  text-align: left;
  background: $white;
  border-radius: 5px;
  box-shadow: 3px 4px 20px $black-20;

  &.size-1 {
    max-width: 570px;
  }

  &.size-2 {
    max-width: 1170px;
  }

  &.size-3 {
    max-width: 970px;
  }

  &.size-4 {
    background: $black;
    max-width: 80%;
    padding: 50px 5px 5px;
    background: $white;
  }

  .button-close {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 2;
  }
}

.popup-align {
  padding: 80px 100px;
  overflow: hidden;
}

.simple-link {
  font-size: 11px;
  line-height: 18px;
  color: $c-fuscous-gray;
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.15s;

  &:hover {
    color: $c-rio-grande;
  }
}

.popup-or {
  height: 140px;
  position: relative;

  &::before {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    background: $c-gallery;
    content: '';
    height: 1px;
  }

  span {
    width: 60px;
    height: 60px;
    border: 5px $c-gallery solid;
    border-radius: 30px;
    text-align: center;
    line-height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -30px 0 0 -30px;
    background: $white;
    font-size: 11px;
    color: $c-suva-gray;
    font-weight: 700;
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
  }
}

@media (max-width: 991px) {
  .popup-container.size-2 .popup-align {
    padding: 40px 15px;
  }
}

@media (max-width: 767px) {
  .popup-container {
    &.size-4 {
      max-width: 100%;
    }

    &.size-1 .popup-align {
      padding: 40px 30px;
    }
  }
}

body.mobile .popup-content {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  display: none;

  &.active {
    display: block;
  }
}
