//colors
$c-rio-grande: #b8cd06;
$c-gallery: #eee;
$c-bon-jour: #e0e0e0;
$c-fuscous-gray: #555;
$c-suva-gray: #888;
$c-thunderbird: #cd2706;

.rate-wrapper {
  color: $c-rio-grande;
  font-size: 14px;
  line-height: 20px;
  margin: 0 5px;

  &.set {
    &:hover {
      .fa {
        opacity: 0.5;
      }
    }

    .fa {
      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }
  }
}

.quantity-select {
  border: 1px $c-gallery solid;
  border-radius: 21px;
  height: 42px;
  line-height: 40px;
  position: relative;
  width: 200px;

  .minus,
  .plus {
    border-radius: 21px 0 0 21px;
    border-right: 1px $c-gallery solid;
    cursor: pointer;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.15s;
    width: 50px;

    &::before {
      background: $c-fuscous-gray;
      content: '';
      height: 1px;
      left: 50%;
      margin-left: -7px;
      position: absolute;
      top: 50%;
      width: 14px;
    }

    &:hover {
      background: $c-gallery;
    }

    &:active {
      background: $c-bon-jour;
    }
  }

  .plus {
    border: 0;
    border-left: 1px $c-gallery solid;
    border-radius: 0 21px 21px 0;
    left: auto;
    right: 0;

    &::after {
      background: $c-fuscous-gray;
      content: '';
      height: 14px;
      left: 50%;
      margin-left: -0.5px;
      margin-top: -6.5px;
      position: absolute;
      top: 50%;
      width: 1px;
    }
  }

  .number {
    color: $c-suva-gray;
    display: block;
    font-size: 12px;
    margin: 0 50px;
    text-align: center;
  }
}

.detail-data-title {
  &.size-1 {
    padding-top: 12px;
  }

  &.size-2 {
    padding-top: 8px;
  }
}

@media (max-width: 767px) {
  .detail-data-title {
    padding-bottom: 10px;
    padding-top: 0 !important;
  }

  .left-right-entry {
    white-space: normal;

    .preview-wrapper {
      margin-bottom: 30px;
      width: 100%;
    }

    .description {
      padding-left: 0;
      width: 100%;
    }
  }
}

.main-product-slider-wrapper {
  margin: 0 auto;
  max-width: 570px;
}

.product-big-preview-entry {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 100%;
}

.product-small-preview-entry {
  margin: 0 auto;
  max-width: 70px;
  opacity: 0.2;
  transition: all 0.15s;

  img {
    display: block;
  }
}

.left-right-entry {
  font-size: 0;
  white-space: nowrap;

  .preview-wrapper {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 45%;

    img {
      display: block;
      height: auto;
      margin: 0 auto;
      max-width: 100%;
    }
  }

  .description {
    display: inline-block;
    padding-left: 30px;
    position: relative;
    vertical-align: middle;
    white-space: normal;
    width: 55%;
  }
}

@media (min-width: 768px) {
  .left-right-entry {
    &.align-right {
      .preview-wrapper {
        left: 55%;
      }

      .description {
        left: -45%;
        padding-left: 0;
        padding-right: 30px;
      }
    }
  }
}

.product-description-entry {
  border-bottom: 1px $c-gallery solid;
  padding: 15px 0;
}

.testimonial-entry {
  border-bottom: 1px $c-gallery solid;
  margin-bottom: 30px;

  .preview {
    border-radius: 50%;
    float: left;
    height: auto;
    width: 50px;
  }

  .heading-description {
    margin-left: 60px;
    padding-top: 5px;
  }

  .pros {
    position: relative;
    padding-left: 30px;

    &::before {
      background: $c-rio-grande;
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      top: 9px;
      width: 13px;
    }

    &::after {
      background: $c-rio-grande;
      content: '';
      height: 13px;
      left: 6px;
      position: absolute;
      top: 3px;
      width: 1px;
    }
  }

  .cons {
    padding-left: 30px;
    position: relative;

    &::before {
      background: $c-thunderbird;
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      top: 9px;
      width: 13px;
    }
  }
}

.swiper-slide-active {
  .product-small-preview-entry {
    opacity: 1;
  }
}
