//colors
$c-black-haze: #f7f7f7;
$c-rio-grande: #b8cd06;
$white: #fff;
$c-suva-gray: #888;
$c-gallery: #eee;
$black-10: rgba(0, 0, 0, 0.1);

.ui-slider {
  position: relative;
  height: 6px;
  background: $c-black-haze;
  margin-right: 12px;
  margin-bottom: 15px;
  border-radius: 3px;
}

.ui-slider-range {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: $c-rio-grande;
}

.ui-slider-handle {
  width: 12px;
  height: 12px;
  background: $white;
  position: absolute;
  top: -3px;
  cursor: pointer;
  border: 3px $c-rio-grande solid;
  border-radius: 2px;
}

.breadcrumbs {
  font-size: 11px;
  line-height: 18px;
  text-transform: uppercase;
  color: $c-suva-gray;

  a {
    display: inline-block;
    text-transform: uppercase;
    margin-right: 10px;
    white-space: nowrap;
    transition: all 0.15s;

    &:hover {
      color: $c-rio-grande;
    }

    &::after {
      width: 5px;
      height: 9px;
      background: $icon-12;
      display: inline-block;
      vertical-align: top;
      content: '';
      position: relative;
      top: 4px;
      margin: 0 0 0 10px;
    }

    &:last-child:after {
      display: none;
    }
  }
}

.pagination-wrapper {
  font-size: 0;

  &::after {
    display: block;
    margin-top: -3px;
    content: '';
  }
}

.pagination {
  width: 40px;
  line-height: 38px;
  height: 40px;
  display: inline-block;
  border: 1px $c-gallery solid;
  border-radius: 5px;
  vertical-align: bottom;
  font-size: 11px;
  color: $c-suva-gray;
  text-align: center;
  margin: 0 3px 3px;
  transition: all 0.15s;
  position: relative;

  img {
    display: block;
    transition: all 0.15s;

    &:last-child {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: auto;
      opacity: 0;
    }
  }

  &.active img {
    opacity: 0;

    &:last-child {
      opacity: 1;
    }
  }
}

.filtration-cell-width-1 {
  width: 210px;

  .SumoSelect {
    display: block;
  }
}

.filtration-cell-width-2 {
  width: 110px;

  .SumoSelect {
    display: block;
  }
}

@media (max-width: 767px) {
  .filtration-cell-width-1 {
    width: auto;
    display: block;
    margin-right: 0 !important;
  }

  .filtration-cell-width-2 {
    width: auto;
    display: block;
    margin-right: 0 !important;
  }
}

a.pagination {
  &:hover {
    box-shadow: 1px 1px 2px $black-10;
  }

  &.active {
    background-color: $c-rio-grande;
    box-shadow: 1px 1px 2px $black-10;
    color: $white;
  }
}

span.pagination {
  border: none;
}
