.comments-wrapper {
  margin-left: -100px;

  @media (max-width: 767px) {
    margin-left: 0;
  }
}

.comment-entry {
  padding-left: 100px;
  position: relative;

  @media (max-width: 767px) {
    padding-left: 0;
  }

  .image {
    border-radius: 25px;
    float: left;
    height: auto;
    width: 50px;
  }

  .content {
    margin: 0 100px 23px 70px;
    padding-top: 5px;
  }

  .button {
    position: absolute;
    right: 0;
    top: 5px;
  }
}
