//colors
$c-tuatara: #343434;
$white: #fff;
$c-gallery: #eee;

.cart-table {
  width: 100%;

  th {
    background: $c-tuatara;
    color: $white;
    font-family: Raleway, sans-serif;
    font-size: 13px;
    font-weight: 700;
    height: 70px;
    line-height: 18px;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;

    &:first-child {
      border-radius: 5px 0 0 5px;
    }

    &:last-child {
      border-radius: 0 5px 5px 0;
    }

    &:nth-child(2) {
      padding-left: 0;
      text-align: left;
    }
  }

  tbody {
    tr {
      border-bottom: 1px $c-gallery solid;
    }

    td {
      padding: 25px 10px;
      text-align: center;
      vertical-align: middle;

      &:nth-child(2) {
        padding-left: 0;
        text-align: left;
      }
    }
  }

  .quantity-select {
    display: inline-block;
  }
}

@media (max-width: 767px) {
  .cart-table {
    display: block;
    position: relative;

    tbody {
      display: block;
      position: relative;

      td {
        &:nth-child(1) {
          padding-left: 0 !important;
        }

        &:nth-child(2) {
          padding-left: 0 !important;
        }
      }
    }

    tr {
      display: block;
      position: relative;
    }

    td {
      display: block;
      padding: 10px 0 10px 100px !important;
      position: relative;
      text-align: left !important;
      width: auto !important;

      &::before {
        color: $c-tuatara;
        content: attr(data-title);
        font-family: Raleway, sans-serif;
        font-size: 13px;
        font-weight: 900;
        left: 0;
        line-height: 19px;
        padding-right: 10px;
        position: absolute;
        text-transform: uppercase;
        top: 7px;
        width: 100px;
      }

      &:last-child {
        padding: 0;
        position: static;
      }
    }

    th {
      display: block;
      position: relative;
    }

    thead {
      display: none;
    }

    .quantity-select {
      width: 170px;
    }

    .button-close {
      position: absolute;
      right: 0;
      top: 10px;
    }
  }
}
