//colors
$c-suva-gray: #888;
$c-rio-grande: #b8cd06;
$c-gallery: #eee;

.aligned-middle-image-shortcode {
  height: 100%;
  left: 50%;
  position: absolute;
  top: 0;
  width: 0;

  img {
    display: block;
    left: 50%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: auto;
  }
}

.category-link {
  color: $c-suva-gray;
  display: block;
  font-size: 11px;
  font-weight: 700;
  line-height: 18px;
  padding: 15px 0 15px 40px;
  position: relative;
  text-transform: uppercase;
  transition: all 0.15s;

  &:hover,
  &.active {
    color: $c-rio-grande;
  }

  span {
    left: 0;
    position: absolute;
    text-align: right;
    top: 15px;
    width: 20px;
  }
}

.client-logo-entry {
  border: 1px $c-gallery solid;
  float: left;
  margin: -1px 0 0 -1px;
  overflow: hidden;
  position: relative;
  width: 20%;

  @media (max-width: 991px) {
    width: 25%;
  }

  @media (max-width: 767px) {
    width: 50%;
  }

  img {
    display: block;
    height: auto;
    transition: all 0.5s;
    width: 100%;

    &:nth-child(2) {
      left: 0;
      position: absolute;
      top: 0;

      transform: translateY(100%);
    }
  }

  &:hover {
    img {
      transform: translateY(-100%);

      &:nth-child(2) {
        transform: translateY(0);
      }
    }
  }
}

.big-slider-product {
  padding: 0 15px;
  text-align: center;

  .preview {
    margin: 0 auto 30px auto;
    opacity: 0.05;
    transform: scale(0.7);

    img {
      display: block;
      height: auto;
      margin: 0 auto;
      max-width: 100%;
    }
  }

  .description {
    opacity: 0;
    transform: translateY(-70px);
  }
}

.swiper-slide-active {
  .big-slider-product {
    .preview {
      opacity: 1;
      transform: scale(1);
    }

    .description {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

body {
  &.loaded {
    .big-slider-product {
      .description,
      .preview {
        transition: all 0.5s;
      }
    }
  }
}
