html {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 0;
  vertical-align: baseline;
}

body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;

  &::before,
  &::after {
    content: none;
  }
}

body * {
  -webkit-text-size-adjust: none;
  outline: none;
}

.clear {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  overflow: hidden;
}

input,
select,
textarea,
button {
  &:focus {
    outline: none;
  }
}

input,
textarea,
select {
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: 0;
  border-radius: 0;
  font-family: Questrial, sans-serif;
  font-weight: 400;
  margin: 0;
  width: 100%;
}

textarea {
  display: block;
  overflow: auto;
  resize: none;
}

select {
  &::-ms-expand {
    display: none;
  }
}

input {
  &[type='submit'],
  &[type='file'] {
    border: 0;
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}

a {
  color: inherit;
  cursor: pointer;
  outline: none;
  text-decoration: none;

  &:link,
  &:visited,
  &:active,
  &:hover {
    cursor: pointer;
    outline: none;
    text-decoration: none;
  }
}

body {
  font-family: Questrial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
}

b,
strong {
  font-weight: 700;
}

ul,
ol {
  list-style: none;
}
