$black-10: rgba(0, 0, 0, 0.1);
$black-20: rgba(0, 0, 0, 0.2);
$black-40: rgba(0, 0, 0, 0.4);
$black-70: rgba(0, 0, 0, 0.7);
$black-80: rgba(0, 0, 0, 0.8);
$black: #000;
$c-azure: #3b5998;
$c-black-haze-95: rgba(247, 247, 247, 0.95);
$c-black-haze: #f7f7f7;
$c-bon-jour: #e0e0e0;
$c-cape-cod: #424242;
$c-fuego: #c2d805;
$c-fuscous-gray: #555;
$c-gallery: #eee;
$c-heavy-metal: #2c2c2c;
$c-monza: #d80505;
$c-mountain-mist: #979797;
$c-rio-grande-30: rgba(184, 205, 6, 0.3);
$c-rio-grande-80: rgba(184, 205, 6, 0.8);
$c-rio-grande: #b8cd06;
$c-shakespeare: #5ea9dd;
$c-suva-gray: #888;
$c-thunderbird: #cd2706;
$c-tuatara: #343434;
$c-valencia: #dd4d42;
$gallery: #efefef;
$white-20: rgba(255, 255, 255, 0.2);
$white-5: rgba(255, 255, 255, 0.05);
$white-50: rgba(255, 255, 255, 0.5);
$white-80: rgba(255, 255, 255, 0.8);
$white-90: rgba(255, 255, 255, 0.9);
$white: #fff;
$wild-sand: #f4f4f4;

// Icons
$icon-5: url('../img/icon-5.png');
$icon-6: url('../img/icon-6.png');
$icon-7: url('../img/icon-7.png');
$icon-11: url('../img/icon-11.png');
$icon-12: url('../img/icon-12.png');
$icon-13: url('../img/icon-13.png');
$icon-18: url('../img/icon-18.png');
$icon-19: url('../img/icon-19.png');
$icon-20: url('../img/icon-20.png');
$icon-21: url('../img/icon-21.png');
$icon-30: url('../img/icon-30.png');
