//colors
$c-heavy-metal: #2c2c2c;
$c-fuscous-gray: #555;
$white: #fff;

.banner-shortcode {
  &.style-1 {
    overflow: hidden;
    padding-bottom: 40%;
    position: relative;

    .background {
      background-position: left center;
      background-size: cover;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    .banner-title {
      font-size: 30px;
      line-height: 32px;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
  }

  &.style-2 {
    max-width: 270px;
    overflow: hidden;
    position: relative;
    text-align: center;

    .content {
      padding-bottom: 155%;
    }

    .background {
      background-position: center bottom;
      background-size: cover;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    .banner-title {
      font-size: 20px;
      line-height: 32px;
      text-transform: uppercase;
    }

    .description {
      height: 30%;
      left: 15px;
      position: absolute;
      right: 15px;
      top: 15px;
    }
  }

  &.style-3 {
    background-position: right top;
    background-size: cover;
    position: relative;

    .angle-left {
      border-color: transparent $white transparent transparent;
      border-style: solid;
      border-width: 15px 15px 15px 0;
      height: 0;
      margin-top: -7px;
      position: absolute;
      right: 0;
      top: 50%;
      width: 0;
    }

    .angle-right {
      border-color: transparent transparent transparent $white;
      border-style: solid;
      border-width: 15px 0 15px 15px;
      height: 0;
      left: 0;
      margin-top: -7px;
      position: absolute;
      top: 50%;
      width: 0;
    }

    .valign-middle-cell {
      display: table-cell;
      height: 480px;
      padding: 30px 50px;
      vertical-align: middle;
      width: 10000px;
    }

    .valign-middle-content {
      max-width: 390px;
    }

    .slider-product-preview + .valign-middle-content {
      max-width: 50%;
    }
  }

  &.style-4 {
    background-position: center top;
    background-size: cover;
    position: relative;

    .valign-middle-cell {
      display: table-cell;
      height: 650px;
      padding: 30px 15px;
      vertical-align: middle;
      width: 10000px;
    }

    .valign-middle-content {
      margin: 0 auto;
      max-width: 390px;
    }
  }

  &.style-5 {
    background-position: center top;
    background-size: cover;
    position: relative;

    .valign-middle {
      min-height: 225px;
      padding: 30px 50px;
    }

    .valign-middle-content {
      max-width: 260px;
    }
  }

  &.style-6 {
    background: $white;
    padding: 50px 30px 50px 15px;

    &::after {
      clear: both;
      content: '';
      display: block;
    }

    .image {
      float: left;
      height: auto;
      max-width: 250px;
      width: 100%;
    }

    .content {
      margin-left: 270px;
    }

    .cell-view {
      height: 250px;
    }
  }

  &.text-center .valign-middle-content {
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .banner-shortcode.style-1 {
    .description {
      background: none !important;
      height: 100%;
      position: absolute;
      right: 15px;
      text-align: center;
      width: 35%;
    }
  }
}

@media (max-width: 767px) {
  .banner-shortcode {
    &.style-1 {
      padding-bottom: 0;

      .background {
        padding-bottom: 40%;
        position: relative;
      }

      .description {
        background: $c-heavy-metal;
        border-top: 1px $c-fuscous-gray solid;
        display: block;
        padding: 20px 15px;
        text-align: center;
      }
    }

    &.style-3 {
      .valign-middle-cell {
        height: 0;
        padding-left: 30px;
        padding-right: 30px;
      }

      .slider-product-preview + .valign-middle-content {
        max-width: 100%;
      }
    }

    &.style-6 {
      padding: 30px 15px;

      .image {
        display: block;
        float: none;
        margin: 0 auto 30px auto;
      }

      .content {
        margin-left: 0;
      }

      .cell-view {
        height: 0;
      }
    }
  }
}

@media (min-width: 1200px) {
  .banner-shortcode.style-3.wide {
    .valign-middle {
      padding-left: 100px;
      padding-right: 100px;
    }
  }
}

@media (max-width: 991px) {
  .banner-shortcode.style-4 {
    .valign-middle-cell {
      height: 0;
    }
  }
}

@media (max-width: 1199px) {
  .banner-shortcode.style-6 {
    .image {
      max-width: 190px;
    }

    .content {
      margin-left: 210px;
    }
  }
}
