//colors
$c-gallery: #eee;
$c-suva-gray: #888;
$black-10: rgba(0, 0, 0, 0.1);
$white: #fff;
$c-rio-grande: #b8cd06;

.tabulation-menu-wrapper {
  margin: 0 -20px;

  @media (max-width: 767px) {
    margin: 0;
  }

  &::after {
    content: '';
    display: block;
    margin-top: -5px;
  }

  .tabulation-toggle {
    @media (max-width: 767px) {
      padding-top: 10px;

      li {
        display: block;
      }
    }
  }
}

.tabulation-toggle {
  font-size: 0;

  @media (max-width: 767px) {
    display: none;
  }

  li {
    border-left: 1px $c-gallery solid;
    display: inline-block;
    margin-bottom: 5px;
    padding: 0 20px;

    &:first-child {
      border: 0;
    }
  }
}

.tab-menu {
  border-radius: 16px;
  color: $c-suva-gray;
  display: block;
  font-family: Raleway, sans-serif;
  font-size: 11px;
  font-weight: 700;
  line-height: 16px;
  padding: 8px 20px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.15s;

  &:hover {
    background: $white;
    box-shadow: 1px 1px 2px $black-10;
  }

  &.active {
    background-color: $c-rio-grande;
    box-shadow: 1px 1px 2px $black-10;
    color: $white;
  }
}

.tab-entry {
  display: none;

  &.visible {
    display: block;
  }
}

.tabulation-title {
  background: $white;
  cursor: pointer;
  display: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  padding-right: 50px;
  position: relative;
  text-align: left;
  text-transform: uppercase;

  &::after {
    background: $icon-7 center center no-repeat;
    content: '';
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
  }

  @media (max-width: 767px) {
    display: block;
  }

  &.active {
    &::after {
      transform: rotate(180deg);
    }
    @media (max-width: 767px) {
      + .tabulation-toggle {
        display: block;
      }
    }
  }
}
