//colors
$c-gallery: #eee;
$c-suva-gray: #888;
$black-10: rgba(0, 0, 0, 0.1);
$white: #fff;
$c-rio-grande: #b8cd06;

//urls
$url-0: url(../img/icon-7.png);

.tabulation-menu-wrapper {
  margin: 0 -20px;

  &::after {
    display: block;
    content: '';
    margin-top: -5px;
  }
}

.tabulation-toggle {
  font-size: 0;

  li {
    padding: 0 20px;
    border-left: 1px $c-gallery solid;
    display: inline-block;
    margin-bottom: 5px;

    &:first-child {
      border: none;
    }
  }
}

.tab-menu {
  font-size: 11px;
  line-height: 16px;
  padding: 8px 20px;
  color: $c-suva-gray;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  display: block;
  position: relative;
  border-radius: 16px;
  transition: all 0.15s;
  text-align: center;

  &:hover {
    box-shadow: 1px 1px 2px $black-10;
    background: $white;
  }

  &.active {
    box-shadow: 1px 1px 2px $black-10;
    background-color: $c-rio-grande;
    color: $white;
  }
}

.tab-entry {
  display: none;

  &.visible {
    display: block;
  }
}

.tabulation-title {
  background: $white;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  padding-right: 50px;
  cursor: pointer;
  display: none;
  position: relative;
  text-align: left;

  &::after {
    width: 50px;
    height: 50px;
    background: $url-0 center center no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    content: '';
  }

  &.active:after {
    transform: rotate(180deg);
  }
}

@media (max-width: 767px) {
  .tabulation-menu-wrapper {
    margin: 0;

    .tabulation-toggle {
      padding-top: 10px;

      li {
        display: block;
      }
    }
  }

  .tabulation-title {
    display: block;

    &.active + .tabulation-toggle {
      display: block;
    }
  }

  .tabulation-toggle {
    display: none;
  }
}
